[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
injector = "*"
matplotlib = "*"
numpy = "*"
powerlaw = "*"
psutil = "*"
scipy = "*"
simpy = "*"
memory_profiler = "*"

[dev-packages]
flake8 = "*"
pytest = "*"

[requires]
python_version = "3.7"
