[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
exceptiongroup = "*"
flamegraph = {git = "https://github.com/evanhempel/python-flamegraph.git", editable = true}
injector = "*"
matplotlib = "*"
memory_profiler = {git = "https://github.com/pythonprofilers/memory_profiler.git", editable = true}
numpy = "*"
powerlaw = "*"
psutil = "*"
scipy = "*"
simpy = "*"
typing-extensions = "*"
importlib_resources = "*"

[dev-packages]
flake8 = "*"
pytest = "*"
