name: Test v2

on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        python-version: ['3.11', '3.12', '3.13', '3.14']

    env:
      PIPENV_NOSPIN: 1

    steps:
      - name: Install OpenBLAS
        run: sudo apt-get update && sudo apt-get install -y libopenblas-dev
      
      - uses: actions/checkout@v5
        with:
          fetch-depth: 1

      - uses: actions/setup-python@v6
        id: setuppy
        with:
          python-version: ${{ matrix.python-version }}
          cache: pipenv

      - run: ${{ steps.setuppy.outputs.python-path }} -m ensurepip --upgrade

      - run: ${{ steps.setuppy.outputs.python-path }} -m pip install pipenv

      - run: pipenv install --dev --python '${{ steps.setuppy.outputs.python-path }}'

      - run: make test

      - run: make smoketest
